<hmtl>
	<head>
		<title>
			Asynxy: {{page_name}}
		</title>
		<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
		<style>
			body {
				font-family: 'Oswald';
				font-size: 24px;
				background-color: #3C4556;
			}

			#login_form, #command {
				text-align: center;
			}

			#login_form form:hover {
				box-shadow: 0px 3px 3px 3px black;
				transition: 0.1s;
			}

			#subutton {
				font-family: 'Oswald';
				background-color: transparent;
				color: #BC98C6;
				font-size: 0.8em;
			}

			#subutton:hover {
				font-family: 'Oswald';
				background-color: #BC98C6;
				color: black;
				transition: 0.2s;
				cursor: pointer;
			}

		</style>
		<script type="text/javascript">
			function sleep(ms) {
      			return new Promise(resolve => setTimeout(resolve, ms));
   			}

			function slavename_change(){
				var url = "http://localhost:3000/ping";
				var params = "master="+document.getElementById('master_input').innerHTML;
				var http = new XMLHttpRequest();
				http.open("GET", url+"?"+params, true);
				http.onreadystatechange = function(){
				    if(http.readyState == 4 && http.status == 200) {
				        var element = document.getElementById("slavenames");
						element.innerHTML = http.responseText;
						sleep(5000).then(() => {
							slavename_change();
						});
				    }
				}
				http.send(null);
			}

			function console_change(){
				var url = "http://localhost:3000/getres";
				var params = "master="+document.getElementById('master_input').innerHTML;
				var http = new XMLHttpRequest();
				http.open("GET", url+"?"+params, true);
				http.onreadystatechange = function(){
				    if(http.readyState == 4 && http.status == 200) {
				        var element = document.getElementById("iframe_console");
						var myContent = '<!DOCTYPE html><html><head></head><body style="color:white">'+http.responseText+'</body></html>';
						var source = "data:text/html;charset=utf-8," + escape(myContent);
						if (source != element.src){
							element.src = source;
						}
						sleep(5000).then(() => {
							console_change();
						});
				    }
				}
				http.send(null);
			}
		</script>
	</head>
	<body onload="slavename_change(); console_change();">
		{{{body}}}
		{{#if master}}
			<div type="hidden" id="master_input" style="color: transparent;">{{master}}</div>
		{{/if}}
		<div style="text-align:center; color:#F8B32F;">
			{{#if error}} 
				<div style="margin-bottom: 10px">{{error}}</div>
				<form method='POST' action="/create_and_log">
					<input type="hidden" name="master" value="{{master}}">
					<input type="hidden" name="master_pass" value="{{pass}}">
					<input id="subutton" type="submit" value="Accept" style="outline: none; border: none; border-radius: 10px; padding-left: 15px; padding-right: 15px; padding-bottom: 7px; padding-top: 7px;">
				</form>
			{{/if}}
			{{#if error2}} 
				<p align="center" style="color:#E7503B">{{error2}}</p>
			{{/if}}
		</div>
	</body>
</hmtl>
